*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.app-container {
  text-align: center;
  margin-top: 32px;
  background-color: #e6ccff;
  min-height: 100vh;
}

main-heading {
  color: #333333;
  margin: 0;
}

input {
  margin-right: 5px;
  height: 30px;
  padding: 5px;
}

.add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  height: 32px;
  cursor: pointer;
}
.medication-list-container{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}